	main{
		position: relative;
	}
	.barra-menu{
	
		/*position: fixed*/
		width: 100%;
		opacity: 0.7;
		filter: alpha(opacity=70);
		margin-top: 1em;
	}
	.barra-menu ul{
		width: 100%;
		height: 80px;
		background-color: #022950;
		line-height: 80px;
		color: white;

		
	}
	.barra-menu ul li {
		list-style-type: none;
		display: inline-block;
		float:right;
		padding:5px;
		margin-right: 10px;
		height: 60px;
	}
	.barra-menu ul a{
		text-decoration: none;
		color:white;
		padding: 20px;
		font-size:1.3em;
		
	}

	.barra-menu ul li a {
		padding-bottom:0.5em;
		font-family: 'Raleway', sans-serif;

	}
	.barra-menu .logo-nome  {
		font-family: 'Raleway', sans-serif;
		font-size: 2.5em;
		margin-left: 10%;
		color: white;
		cursor: pointer;
		text-shadow: 2px 2px black;

		
	}
	.barra-menu ul li:hover{
		background: #36608a;
		color: black;
		height: 80px;
	}

	.banner{
		background-color: #ffffff;
		width: 100%;
		height: 450px;
		padding-top: 1em;
		position: relative;

	}

	.foto-home{
		margin: 10px auto;
		width: 100%;
		max-width: 200px;
		height: 200px;
		border-radius: 100%;
		position: relative;
		display: block;
		padding-top: -1em;
		
	}
	/*#titulo-banner{
		text-align: center;
		position: relative;
		display: block;
		padding: 2em;
		font-weight: bold;
		color:black;
		font-size: 3em;
		font-family: "Arial", cursive;
	}*/
	.palavras-home{
	    font-family: "Shadows Into Light", cursive;
	    perspective: 6px;
	    font-size: 1.8em;
	    font-weight: bold;
	    color:#022950;
	    position: absolute;

	}
	.proativo{
		top:50%;
	    left:85%;
	    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px);

	}
	.responsavel{
		top:50%;
	    right:75%;
	    transform: translate(-50%, -50%) rotate(10deg) translateZ(4px);
	}
	.dedicado{
		top: 55%;
	    left:65%;
	    transform: translate(-50%, -50%) rotate(-18deg) translateZ(4px);
	}
	.design{
		 top: 60%;
	    right: 60%;
	    transform: translate(-50%, -50%) rotate(-18deg) translateZ(4px);
	}
	.codigos-limpos{
		top:42%;
	    left:73%;
	   transform: translate(-50%, -50%) rotate(10deg) translateZ(4px);
	}
	.detalhista{
		top:40%;
	    right:65%;
	   transform: translate(-50%, -50%) rotate(25deg) translateZ(4px);
	}
	.criativo{
	 	top:75%;
	    left: 70%;
	    transform: translate(-50%, -50%) rotate(20deg) translateZ(4px);
	}
	.inovador{
		top:80%;
	    right: 65%;
	    transform: translate(-50%, -50%) rotate(5deg) translateZ(4px);
	}
	.sempre-atualizado{
		top:20%;
	    left:70%;
	   transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px);
	}
	.apaixonado{
		top:22%;
	    right:60%;
	   transform: translate(-50%, -50%) rotate(-10deg) translateZ(4px);
	}
	#sobre-mim-imagem{
		width: 100%;
		display: block;
		height: 700px ;
		background-image:linear-gradient(rgba(30, 144, 255, 0.4), rgba(2, 19, 36)), url(../imagens/imagem2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;	
	}
	.sobre-mim-container{
		color: white;
		display: inline-block;
		position: relative;
		top: -40rem;
		width: 100%;
		margin-bottom: 20%;
		text-align: center;
		
		
	}
	.sobre-mim-h3{
		color:white;
		font-size: 3em;
		font-family: "Raleway", cursive;
		text-align: center;
		margin:0.4em;
		font-weight: bold;	
		text-shadow: 2px 2px black;				
	}
	.texto-sobre-mim p {
		text-align: center;
		margin: 0 200px 200px 200px;
		position: relative;
		font-size: 1.5em;
		font-family: "Arial" sans-serif;
		font-weight: bold;
	}
	.fa-code{
		font-size: 0.7em;
	}
	#parte-sobre-mim{
		position: relative;
		height: 600px;
	}
	#projetos {
		width: 100%;
		min-height: 1500px;
		display: block;
		background-color:#fff0ff;
		position: relative;
		
	}
	.titulo-projetos{
		 text-align: center;
		 padding:2%;
		 font-family: "Raleway",cursive;
	 	 font-size: 4em;
		 font-weight: bold;
		 color:#022950;
		 text-shadow: 2px 2px black;
	}
	.projeto-bio{
		position: relative;
		margin-top: 10em;
	}

	.img-bio{
		text-align: left;
		max-width: 360px;
		height: 100%;
		max-height: 300px;
		display: inline-block;
		position: relative;
		margin: 0 5px;
		

	}
	.subtitulo-projetos{
		font-weight: normal;
		font-family: "Arial",sans-serif;
		font-size: 1.5em;
		color:grey;
		text-align: center;
		font-weight: bold;
		margin-bottom: 2em;
	}
	.titulo-bio{
		font-size:3.5rem;
		text-align: center;
		margin:auto auto 50px auto;
		position: relative;
		font-family: "Arial", cursive; 
		color:orange;
		font-weight:bold;
		text-shadow: 2px 2px black;	 
	}
	.texto-bio {
		font-family: "Arial",sans-serif;
		font-weight: normal;
		font-size: 1.5em;
		display: inline-block;
		position: relative;
		text-align: center;
		width: 700px;
		margin:auto auto auto 100px;
	}
	.projeto-study-ja{
		position: relative;
		margin-top: 200px;

	}
	.img-study-ja{
		width: 100%;
		max-width: 340px;
		height: 100%;
		max-height: 280px;
		display: inline-block;
		position: relative;
		float: right;
		margin: 0 5px;
	}
	.texto-study{
		font-family: "Arial", sans-serif;
		font-weight: normal;
		font-size: 1.5em;
		text-align: center;
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 700px;
		margin: 30px 50px auto 100px;
		float: right;

	}
	
	.titulo-study{
		font-size:3.5rem;
		text-align: center;
		display:block;
		position: relative;
		font-family: "Arial", cursive;
		top:-2.5rem; 
		color:orange;
		font-weight:bold;
		text-shadow: 2px 2px black;
	}
	.saiba-mais{
		/*--->ESTILO BOTAO E TEXTO<---*/
		font-size: 1rem;
		font-family: "Arial", sans-serif;
		font-weight: bold;
		text-decoration: none;
		border: 3px solid #022950;
		border-radius: 10px;
		padding: 1rem;
		background-color: #022950;
		text-transform: uppercase;	
		color: white;
		width:100px; 
		/*--->Posicionamento<---*/
		display: block;
		margin:50px auto auto auto;
		}
		#conhecimentos{
			width: 100%;
			height: 500px;
			position: relative;

		}
		 .icone{
			width: 100px;
			height: 100px;
			position: absolute;
			margin:20px 20px;
		}
		.html{
			top:15%;
			right: 15%;
		}
		.css{
			top:15%;
			right: 30%;

		}
		.csharp{
			top:16%;
			left:40%;
		}
		.mysql{
			top:15%;
			left:15%;
		}
		.photoshop{
			top:65%;
			left:25%;
		}
		.php{
			top:65%;
			right: 45%;
		}
		.git{
			top:65%;
			right:25%;
		}
		.titulo-conhecimento{
		font-size:3.5rem;
		text-align: center;
		display:block;
		position: relative;
		font-family: "Arial", cursive;
		color:#022950;
		font-weight:bold;
		margin:1rem auto;
		  text-shadow: 2px 2px #000;
		}
		.contato{
		position: relative;
		display: block;
		text-align: center;
		width: 100%;
		min-width: 500px;
		height: 300px;
		background-image:url(../imagens/bck-contato2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: white
		}
		.contatos-sociais{
		font-family: "Arial", cursive;
		font-weight: normal;
		font-size: 1.2rem;
		display: inline-block;
		position: relative;
		top:50%;
		width: 100%;
		max-width: 350px;
		height: 100px;
		}
		.fa-fw{
		color: white;
		}	
		.tel {
			padding-top: 5px;
		}
		.localizacao{
			padding-top: 5px;
		}
		.redes-sociais {
			position: relative;
			display: block;
			width: 200px;
			left:45%;
			top:50%;
		}
		.fab{
			font-size: 2rem;

		}
		.redes-sociais ul li{
			vertical-align: middle;
			display: table-cell;
			padding: 10px;

		}
		.redes-sociais a:visited{
			color:white;
		}
		.titulo-contato{
			font-size: 2.5rem;
			padding-top:1em;
			font-family: "Arial", cursive;
			text-shadow: 2px 2px black;

		}
		/*.formulario{
			position: relative;
			display: grid;
			grid-template-rows: 100px 100px 100px;
			left:15%;
			margin:5em auto;
			width: 500px;
		}
		form{
			position: relative;
			width: 100px;
		}
		.formulario label{
			display: block;
		}
		
		.btn-enviar{
			position: relative;
			display: inline-block;
		}
		 .label-nome{
			position: relative;
			top:45px;
			left:-9%;
		}
		 .nome{
			width: 250px;
			border:1px solid transparent;
			border-radius: 200px;
			height: 25px;
			position: relative;
			top:49px;
			left:-10%;
		}
		.emailform{
			width: 250px;
			border:1px solid transparent;
			border-radius: 200px;
			height: 25px;
			position: relative;
			left:25%;
			top:4px;
			
		}
		.label-email{
			position: relative;
			top:1px;
			left:26%;
			width: 200px;
		}
		.assunto{
			width: 250px;
			border:1px solid transparent;
			border-radius: 200px;
			height: 25px;
			position: relative;
			top:-42px;
			left:60%;
			margin-right: 5%
		}
		 .label-assunto{
			position: relative;
			top:-47px;
			left:61%;
			width: 200px;
		}
		.mensagem{
			width: 790px;
			position: relative;
			left:-9%;
			border:1px solid transparent;
			border-radius: 20px;

		}
		.label-menssagem{
			position: relative;
			left:-7%;
		}
		.formulario form p{
			width: 100%;
			max-width: 500px;
		}
		.inputs{
			height: 400px;
			width: 400px;
			position:relative;
			left:-25%;
		}*/
		.fixar {
	    position:fixed;
	    margin-top: 0px !important;
		}
	 p a:visited{
		text-decoration: none;
		text-decoration-style: none;
	}
	.informacoes{
		position: relative;
		margin-top: 4em;
	}
	footer{
		background-image:linear-gradient( 90deg,rgba(0, 0, 0, 0.4), rgba(2, 19, 36));
		color:white;
		line-height: 2em;
		text-align: center;
		font-family: "Raleway", cursive;
		text-transform: uppercase;
		font-size: 1em;
	}
