.barra-menu{
	margin-top: 1em;
	/*position: fixed*/
	width: 100%;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.barra-menu ul{
	width: 100%;
	height: 60px;
	background-color: #87CEEB;
	line-height: 60px;
	color: white;
	
}
.barra-menu ul li {
	list-style-type: none;
	display: inline-block;
	float:right;
	padding:5px;
	margin-right: 10px;
	height: 60px;
}
.barra-menu ul a{
	text-decoration: none;
	color:black;
	padding: 20px;
	
}

.barra-menu ul li a {
	padding-bottom:0.5em;
	font-family: 'Raleway', sans-serif;
}
.barra-menu .logo-nome  {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	margin-left: 10%;
	color: white;
	cursor: pointer;

	
}
.barra-menu ul li:hover{
	background: #d7ecf5;
	color: black;
	height: 50px;
}

.banner{
	background-color: #E0FFFF;
	width: 100%;
	height: 320px;
	padding-top: 1em;
	position: relative;

}

.foto-home{
	margin: 10px auto;
	width: 100%;
	max-width: 200px;
	height: 200px;
	border-radius: 100%;
	position: relative;
	display: block;
	padding-top: -1em;
	
}
.subtitulo-banner {
	text-align: center;
	display: block;
	padding-top: -0.5em;
	padding: 10px;
	font-size: 20px;
	font-family:"Raleway", sans-serif;
	font-weight: bold;
   
}
#titulo-banner{
	font-size: 3em;
	text-transform: : uppercase;
	font-weight: bold;
	font-family: "Raleway, sans-serif;
}

