	main{
		position: relative;
	}
	.barra-menu{
		margin-top: 1em;
		/*position: fixed*/
		width: 100%;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	.barra-menu ul{
		width: 100%;
		height: 60px;
		background-color: #022950;
		line-height: 60px;
		color: white;
		
	}
	.barra-menu ul li {
		list-style-type: none;
		display: inline-block;
		float:right;
		padding:5px;
		margin-right: 10px;
		height: 60px;
	}
	.barra-menu ul a{
		text-decoration: none;
		color:white;
		padding: 20px;
		
	}

	.barra-menu ul li a {
		padding-bottom:0.5em;
		font-family: 'Raleway', sans-serif;
	}
	.barra-menu .logo-nome  {
		font-family: 'Raleway', sans-serif;
		font-size: 2em;
		margin-left: 10%;
		color: white;
		cursor: pointer;

		
	}
	.barra-menu ul li:hover{
		background: #36608a;
		color: black;
		height: 50px;
	}

	.banner{
		background-color: #ffffff;
		width: 100%;
		height: 450px;
		padding-top: 1em;
		position: relative;

	}

	.foto-home{
		margin: 10px auto;
		width: 100%;
		max-width: 200px;
		height: 200px;
		border-radius: 100%;
		position: relative;
		display: block;
		padding-top: -1em;
		
	}
	#titulo-banner{
		text-align: center;
		position: relative;
		display: block;
		padding: 2em;
		font-weight: bold;
		color:black;
		font-size: 3em;
		font-family: 'Lobster', cursive;
		

	}
	.palavras-home{
	    font-family: "Shadows Into Light", cursive;
	    font-size: 1.4em;
	    font-weight: bold;
	    color:#022950;
	    position: absolute;
	}
	.proativo{
		top:40%;
	    left: 75%;
	    transform:  rotate(10deg);
	}
	.responsavel{
		top:40%;
	    right:75%;
	    transform: rotate(10deg);
	}
	.dedicado{
		top: 45%;
	    left:60%;
	    transform: rotate(-18deg);
	}
	.design{
		 top: 45%;
	    right: 60%;
	    transform: rotate(-18deg);
	}
	.codigos-limpos{
		top:32%;
	    left:65%;
	    transform: rotate(10deg);
	}
	.detalhista{
		top:35%;
	    right:65%;
	    transform:rotate(25deg);
	}
	.criativo{
	 	top:55%;
	    left: 65%;
	    transform:rotate(20deg);
	}
	.inovador{
		top:55%;
	    right: 65%;
	    transform: rotate(5deg);
	}
	.sempre-atualizado{
		top:19%;
	    left:58%;
	    transform:rotate(-5deg);
	}
	.apaixonado{
		top:17%;
	    right:58%;
	    transform: rotate(10deg);
	}
	#sobre-mim-imagem{
		width: 100%;
		display: block;
		height: 700px ;
		background-image:linear-gradient(rgba(30, 144, 255, 0.4), rgba(2, 19, 36)), url(../imagens/imagem2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;	
	}
	.sobre-mim-texto{
		color: white;
		display: inline-block;
		position: relative;
		top: -40rem;

		width: 100%;
		margin-bottom: 20%;
		height: 100%;
		max-height: 200px;
		
	}
	.sobre-mim-h3{
		color:white;
		font-size: 3em;
		font-family: "Raleway", cursive;
		text-align: center;
		margin:0.4em;
		font-weight: bold;					
	}
	.texto-sobre-mim p {
		text-align: center;
		margin: 0 200px 200px 200px;
		display: inline-gblock;
		position: absolute;
		font-size: 1.5em;
		font-family: "Arial" sans-serif;
		font-weight: bold;
	}
	.fa-code{
		font-size: 0.7em;
	}
	#parte-sobre-mim{
		position: relative;
		height: 600px;
	}
	#projetos {
		width: 100%;
		min-height: 1500px;
		display: block;
		background-color:#fff0ff;
		position: relative;
		
	}
	.titulo-projetos{
		 text-align: center;
		 padding:2%;
		 font-family: "Raleway",cursive;
	 	 font-size: 4em;
		 font-weight: bold;
		 color:#022950;
	}
	.projeto-bio{
		position: relative;
		margin-top: 10em;
	}

	.img-bio{
		text-align: left;
		max-width: 360px;
		height: 100%;
		max-height: 300px;
		display: inline-block;
		position: relative;
		margin: 0 5px;
		

	}
	.subtitulo-projetos{
		font-weight: normal;
		font-family: "Arial",sans-serif;
		font-size: 1.5em;
		color:grey;
		text-align: center;
		font-weight: bold;
		margin-bottom: 2em;
	}
	.titulo-bio{
		font-size:3.5rem;
		text-align: center;
		margin:auto auto 50px auto;
		position: relative;
		font-family: "Arial", cursive; 
		color:orange;
		font-weight:bold;	 
	}
	.texto-bio {
		font-family: "Arial",sans-serif;
		font-weight: normal;
		font-size: 1.5em;
		display: inline-block;
		position: relative;
		text-align: center;
		width: 700px;
		margin:auto auto auto 100px;
	}
	.projeto-study-ja{
		position: relative;
		margin-top: 200px;

	}
	.img-study-ja{
		width: 100%;
		max-width: 340px;
		height: 100%;
		max-height: 280px;
		display: inline-block;
		position: relative;
		float: right;
		margin: 0 5px;
	}
	.texto-study{
		font-family: "Arial", sans-serif;
		font-weight: normal;
		font-size: 1.5em;
		text-align: center;
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 700px;
		margin: 30px 50px auto 100px;
		float: right;

	}
	
	.titulo-study{
		font-size:3.5rem;
		text-align: center;
		display:block;
		position: relative;
		font-family: "Arial", cursive;
		top:-2.5rem; 
		color:orange;
		font-weight:bold;
	}
	.saiba-mais{
		/*--->ESTILO BOTAO E TEXTO<---*/
		font-size: 1rem;
		font-family: "Arial", sans-serif;
		font-weight: bold;
		text-decoration: none;
		border: 3px solid #022950;
		border-radius: 10px;
		padding: 1rem;
		background-color: #022950;
		text-transform: uppercase;	
		color: white;
		width:100px; 
		/*--->Posicionamento<---*/
		display: block;
		margin:50px auto auto auto;
		}
		#conhecimentos{
			width: 100%;
			height: 500px;
			position: relative;

		}
		 .icone{
			width: 100px;
			height: 100px;
			position: absolute;
			margin:20px 20px;
		}
		.html{
			top:15%;
			right: 15%;
		}
		.css{
			top:15%;
			right: 30%;

		}
		.csharp{
			top:16%;
			left:40%;
		}
		.mysql{
			top:15%;
			left:15%;
		}
		.photoshop{
			top:65%;
			left:25%;
		}
		.php{
			top:65%;
			right: 45%;
		}
		.git{
			top:65%;
			right:25%;
		}
		.titulo-conhecimento{
		font-size:3.5rem;
		text-align: center;
		display:block;
		position: relative;
		font-family: "Arial", cursive;
		color:#022950;
		font-weight:bold;
		margin:1rem auto;
		}
